/*
h1 {
  color: #81b214;
}
*/

p {
  color: #206a5d;
}

img:hover {
  background-color: gold;
}

.brocoli  {
  background-color: #206a5d;
}

.circular {
  border-radius: 100%;
}

.square {
  border-radius: 20%;
}

#heading {
  color: #206a5d;
}
